@import 'tailwindcss';

@import "tw-animate-css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

body {
    font-family: Montserrat;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navigation a:hover {
    text-decoration: underline !important;
}